#nav-color {
  background: #f4f7f5;
}

#t_name {
  font-size: 40px;
  font-weight: bold;
  color: #635f95;
}

#w_text {
  border-style: dashed;
  border-color: cornflowerblue;
}

.t_color {
  background: black;
}
